.carousel {
    display: flex;
    width: 100%;
    height: 10em;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    position: relative;
    overflow: hidden;

    &_img {
        display: flex;
        transition: transform 330ms linear;
        z-index: -1;
        align-items: center;

        
        &>* {
            height: 100%;
            width: 100%;
        }

    }


    &_btn {
        display: flex;

        position: absolute;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        button {
            background: none;
            border: none;
            color: white;
            font-size: 2.5em;
            cursor: pointer;
        }

        &_prev {
            transform: rotate(-90deg);
        }

        &_next {
            transform: rotate(90deg);

        }
    }
}

@media (min-width: 767.98px) {

    .carousel {

        height: 16em;
        &_btn {

            button {
                font-size: 4.5em;
            }
        }
    }
}